@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
.navbar-brand{
    font-size: 2rem;
    color: black;
    font-family: 'Lobster', 'cursive';
    
}
.navbar-brand:hover{
    color: black;
}

.nav-link{
 color: black;
text-transform: uppercase;
margin-right: 10px;
margin-left: 10px;
}

.nav-link:hover{
    color: black;
   }

.main{
    background:url('darbo.jpg') no-repeat ;
    background-size: cover;
    height: 60vh;
    width: 100%;
    background-position: 50% 50%;
   
     
}
.main h1{
    font-size: 4rem;
    font-weight: 700;
    display: flex;
    
}

.kvepalai h1{
    padding: 50px 50px ;
    text-align: center;

}
.secondas{
    background:url('sekantis.jpg') no-repeat;
    background-size: cover;
    height: 60vh;
    width: 100%;
    background-position: 50% 50% ;
}
.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }
  .nuotrauka {
    height: 200px;
    max-width: 100%;
  
    background-size:contain;
    background-repeat:no-repeat;
    background-position: center;
  }
 
  .kvepalai{
    text-align: center
  }

.galas{
    text-align: center;
}
button#myBtn {
    color: black;
    border: white;
    background: white;
}

#more {display: none;}

.mainSecond{
    padding:100px ;
}
.vyr-nuotrauka{
    height: 60vh;
    max-width: 100%;
  
    background-size:contain;
    background-repeat:no-repeat;
    background-position: center;

}
.vyr-prekes{
    max-width:100%;
    height:200px;
    background-size:contain;
    background-repeat:no-repeat;
    background-position: center;

}
.mainThird{
    padding:100px ;

}
.m-nuotrauka{
    height: 60vh;
    max-width: 100%;
  
    background-size:contain;
    background-repeat:no-repeat;
    background-position: center;
    
}
.m-prekes{
    max-width:100%;
    height:200px;
    background-size:contain;
    background-repeat:no-repeat;
    background-position: center;
}